{% extends 'appsmartip/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block dbmanager_active %}
active
{% endblock %}

{% block content %}
{% load humanize %}

<div class="row my-5">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card bg-dark mx-auto">
            <div class="card-header border-light">
                <h4 class="text-info text-center"> Ingrese un nuevo usuario de dispositivos </h4>
            </div>
            <div class="card-body text-light">
                <form action="" method="post" enctype="multipart/form-data" class="text-light">

                    {% csrf_token %}

                    {{ dev_user_add | crispy }}

                    <div class="d-flex justify-content-end">
                        <a href="{% url 'Offices' %}" class="btn btn-info me-auto">
                            <i class="bi-arrow-left"></i>
                            Regresar
                        </a>

                        <input type="reset" value="Cancelar" class="btn btn-secondary">
                        &nbsp;
                        <input type="submit" value="Guardar" class="btn btn-info">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(function () {
        $('#location').select2({
            placeholder: 'Seleccione una localidad',
            allowClean: true,

        });

        $('#edifice').select2({
            placeholder: 'Seleccione un edificio o domicilio',
            allowClean: true,

        });

        $('#court').select2({
            placeholder: 'Seleccione un juzgado',
            allowClean: true,
        });
    });
</script>
{% endblock %}