{% extends 'appsmartip/base.html' %}

{% block js %}

<!-- <script>
    function deleteDevUser(id) {
        Swal.fire({
            "title": "¿estas seguro?",
            "text": "vas a eliminar un tipo de acceso de la Base de Datos, esta acción no se puede deshacer",
            "icon": "warning",
            "iconColor": "#0dcaf0",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "cancelButtonColor": "#0dcaf0",
            "confirmButtonColor": "#dc3545",
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons": true,
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/office_delete/"+id+"/"
                }
            })
    }
</script> -->

{% endblock %}

{% load static %}

{% block dbmanager_active %}
active
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="card col-10 offset-1">
    
    <div class="card-header">
        <h4 class="text-dark text-center">
            Usuarios de Dispositivos
        </h4>
    </div>
    
    <div class="d-flex mt-0">
        <a href="{% url 'DevUserAdd' %}" class="mt-5 mb-2 me-3 btn btn-info btn-md ms-auto">
            Agregar Usuario de Dispositivo <i class="bi-plus-lg"></i>
        </a>
    </div>

    <div class="container col-8 ">

        <form class="d-flex" method="get" role="search">
            <div class="input-group">
                <input class="form-control me-2" type="search" name="searchDevUser" placeholder="Buscar" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn text-info btn-dark" type="submit"> Buscar <i class="bi-search"></i></button>
                </div>
            </div>
        </form>

    </div>

    <div class="card-body">
        <table class="table table-striped table-hover table-responsive-sm">
            <tr class="text-center">
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-m@il</th>
                <th>Usuario Jabber</th>
                <th>Contraseña Jabber</th>
                <th>Usuario PC</th>
                <th>Opciones</th>
            </tr>

            {% for du in entity %}
            <tr class="text-center">
                <td>{{ du.id }}</td>
                <td>{{ du.name }}</td>
                <td>{{ du.last_name }}</td>
                <td>{{ du.email }}</td>
                <td>{{ du.message_account }}</td>
                <td>{{ du.message_pass }}</td>
                <td>{{ du.username }}</td>
                <td>
                    <a href="{% url 'DevUserDetails' du.id %}" class="btn btn-info btn-sm ms-auto">
                        <i class="bi-search"></i>
                    </a>
                    <a href="#" class="btn btn-warning btn-sm">
                        <i class="bi-pencil-square"></i>
                    </a>
                    <a href="#" onclick="deleteOffice('{{ of.id }}')" class="btn btn-danger btn-sm">
                        <i class="bi-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <div>
            {% include 'appsmartip/paginator.html' %}
        </div>
    </div>
</div>



{% endblock %}