{% extends 'appsmartip/base.html' %}

{% load static %}

{% block dbmanager_active %}
active
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row my-5">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card bg-dark mx-auto">
            <div class="card-header border-light">
                <h4 class="text-info text-center"> Ingrese un nuevo Juzgado/Cámara </h4>
            </div>
            <div class="card-body">
                <form action="" method="post">

                    {% csrf_token %}

                    {{ court_add_form | crispy }}

                    <div class="d-flex justify-content-end">
                        <a href="{% url 'Courts' %}" class="btn btn-info me-auto"><i class="bi-arrow-left"></i>
                            Regresar </a>

                        <input type="reset" value="Cancelar" class="btn btn-secondary">
                        &nbsp;
                        <input type="submit" value="Guardar" class="btn btn-info">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}