{% extends 'appsmartip/base.html' %}

{% load static %}

{% block agenda_active %}
active
{% endblock  %}

{% block content %}
<div class="row my-2">
     <div class="col-12 col-md-6 offset-md-3">
          <div class="div-title bg-dark">
               <h1 class="mx-auto title text-info text-center">Bienvenido a Smart IP</h1>
          </div>
          <hr>
          <div class="card">
               <div class="card-header bg-dark border-light">
                    <h4 class="text-info text-center">Por favor complete los campos para solicitar un servicio técnico</h4>
               </div>
               <div class="card-body bg-dark">
                    <form action="" class="form-group text-light" method="post">
                         {% csrf_token %}

                         {{ home_form | crispy }}
                         <datalist id="required_by">
                              {% for user in required_by %}
                                   <option value="{{ user }}"></option>
                              {% endfor %}
                         </datalist>

                         <div class="d-flex justify-content-end">
                              <input type="reset" value="Cancelar" class="btn btn-secondary">
                              &nbsp;
                              <button type="submit" class="btn btn-info">Enviar</button>
                         </div>
                    </form>
                    <p class="text-light">{{message}}</p>
               </div>
          </div>
     </div>
</div>

{% endblock %}