{% extends 'appsmartip/base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'appcalendar/fullcalendar/lib/main.min.css' %}">
{% endblock %}

{% block content %}
    <div id="calendar" class="container bg-light text-info"></div>
{% endblock %}

{% block js %}
<script src="{% static 'appcalendar/fullcalendar/lib/main.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        let calendarUI = document.getElementById('calendar')
        let calendar = new FullCalendar.Calendar(calendarUI, {

        });
        calendar.render();
    });
</script>
{% endblock %}