{% extends 'appsmartip/base.html' %}

{% load static %}

{% block devmanager_active %}
active
{% endblock  %}

{% block content %}

<h2 class="text-info text center">Gestion de Dispoditivos</h2>
<hr>

<div class="container col-12 col-md-6 offset-3 my-5">
     <form class="d-flex" method="get" role="search">
          <div class="input-group">
               <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
               <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit" name="search">Buscar</button>
               </div>
          </div>
          
     </form>
</div>

<div class="mx-auto my-auto col-12 col-md-10 offset-md-5">
     <div class="card">
          <div class="card-header">
               <h4 class="text-dark text-center">
                    Resultado de la busqueda
               </h4>
          </div>
          <div class="card-body">
               <table class="table table-striped table-hover table-responsive-sm">
                    <tr>
                         <th>Dispositivo</th>
                         <th>Tipo de Dispositivo</th>
                         <th>Marca</th>
                         <th>Modelo</th>
                         <th>Esta Activo</th>
                         <th>Esta trabajando</th>
                         <th>Ip asignada</th>
                         <th>Ùltima revision</th>
                         <th>Motivo</th>
                         <th>Tecnico que la realizo</th>
                         <th>Tiene usuario asignado</th>
                         <th>usuario</th>
                         <th>oficina</th>
                    </tr>
               
                    {% for s in device %}
                         <tr>
                              <td>{{ s.dev_name }}</td>
                              <td>{{ s.dev_type }}</td>
                              <td>{{ s.brand | title }}</td>
                              <td>{{ s.model }}</td>
                              <td>{{ s.is_active }}</td>
                              <td>{{ s.is_working }}</td>
                              <td>{{ s.ip_direction }}</td>
                              <td>{{ s.last_revision }}</td>
                              <td>{{ s.cause }}</td>
                              <td>{{ s.tech_revision }}</td>
                              <td>{{ s.has_user }}</td>
                              <td>{{ s.user }}</td>
                              <td>{{ s.office }}</td>
                         </tr>
                    {% endfor %}
               </table>
          </div>
     </div>     
</div>
{% endblock %}