{% extends 'appsmartip/base.html' %}

{% load static %}

{% block devmanager_active %}
     active
{% endblock  %}

{% block content %}
<div class="row my-5">
     <div class="col-12 col-md-6 offset-md-3">
          <div class="card mx-auto">
               <div class="card-header">
                    <h4 class="text-info text-center">Dispositivo: {{device.dev_name}}</h4>
               </div>
               <img src="{{ static ''}}" class="card-img-top" alt="...">
               <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               </div>
               <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
               </ul>
               <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
               </div>
          </div>
     </div>
</div>

{% endblock %}