{% extends 'appsmartip/base.html' %}

{% load static %}

{% block devmanager_active %}
     active
{% endblock  %}

{% block content %}
<div class="row my-5">
     <div class="col-12 col-md-8 offset-2">
          <div class="card mx-auto">
               <div class="card-header">
                    <h4 class="text-info text-center">Dispositivo: {{device.dev_name}}</h4>
               </div>
               <div class="card-body">
                    <div class="d-flex justify-content-evenly">
                         <img src="/media/{{device.model.img}}" class="w-25" alt="...">
                         <div class="container">
                              <p class="card-title"><b>Tipo de dispositivo: </b>{{device.dev_type}}</p>
                              <p class="card-title"><b>Marca: </b>{{device.brand}}</p>
                              <p class="card-title"><b>Modelo: </b>{{device.model}}</p>
                         </div>
                         <div class="container">
                              {% if device.is_working == True %}
                                   <p class="card-text"><b>Funciona: </b> Si </p>
                              {% else %}
                                   <p class="card-text"><b>Funciona: </b> NO</p>
                              {% endif %}
                         
                              {% if device.is_active == True %}
                                   <p class="card-text"><b>Esta Activo: </b> No </p>
                              {% else %}
                                   <p class="card-text"><b>Esta Activo </b>: NO</p>
                              {% endif %}
                         </div>
                    </div>
               </div>
               <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                         <div class="container">
                              <h4 class="card-title text-center text-info">Red</h4>
                              <div class="d-flex justify-content-around">
                                   <p class="card-text"><b>Direccion Ip: </b>{{device.ip_direction.ipdir}}</p>
                                   <p class="card-text"><b>Acceso Internet: </b> {{device.ip_direction.internet_access}}</p>
                              </div>
                         </div>
                    </li>
                    <li class="list-group-item">
                         <div class="container">
                              <h4 class="card-title text-center text-info">Mantenimiento</h4>
                              <div class="d-flex justify-content-around">
                                   <p class="card-text"><b>Ultima revision: </b>{{device.last_revision}}</p>
                                   <p class="card-text"><b>Tecnico a cargo: </b>{{device.tech_revision.last_name}}, {{device.tech_revision.name}}</p>
                                   <p class="card-text text-justify"><b>Motivo: </b>{{device.cause}}</p>
                              </div>
                         </div>
                    </li>
                    {% if device.has_user == True %}
                    <li class="list-group-item">
                         <div class="container">
                              <h4 class="card-title text-center text-info">Usuario</h4>
                              <div class="d-flex justify-content-around">
                                   <p class="card-text"><b>Nombre de Usuario: </b>{{device.user.username}}</p>
                                   <p class="card-text"><b>Nombre: </b>{{device.user.name}}, {{device.user.last_name}}</p>
                                   <p class="card-text text-justify"><b>Jabber: </b>{{device.user.message_acount}}</p>
                              </div>
                         </div>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                         <div class="container">
                              <h4 class="card-title text-center text-info">Locacion</h4>
                              <div class="d-flex justify-content-between" >
                                   <p class="card-text"><b>Localidad: </b>{{device.office.location}}</p>
                                   <p class="card-text"><b>Edificio: </b>{{device.office.edifice}}</p>
                                   <p class="card-text text-justify"><b>Piso: </b>{{device.office.floor}}</p>
                              </div>
                              <div class="d-flex justify-content-between">
                                   <p class="card-text"><b>Juzgado: </b>{{device.office.court}}</p>
                                   <p class="card-text"><b>Oficina: </b>{{device.office.office_name}}</p>
                              </div>
                              {% if device.office.phone_1 or device.office.phone_2 or device.office.phone_3 %}
                              <div class="d-flex justify-content-between">
                                   <p class="card-text"><b>Ultima revision: </b>{{device.last_revision}}</p>
                                   <p class="card-text"><b>Tecnico a cargo: </b>{{device.tech_revision.last_name}}, {{device.tech_revision.name}}</p>
                                   <p class="card-text text-justify"><b>Motivo: </b>{{device.cause}}</p>
                              </div>
                              {% endif %}
                         </div>
                    </li>
               </ul>
               <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
               </div>
          </div>
     </div>
</div>

{% endblock %}