{% extends 'appsmartip/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block devmanager_active %}
     active
{% endblock  %}

{% block content %}
{% load humanize %}

<div class="row my-5">
     <div class="col-12 col-md-6 offset-md-3">
          <div class="card mx-auto">
               <div class="card-header">
                    <h4 class="text-info text-center"> Ingrese un nuevo tipo de dispositivo </h4>
               </div>
               <div class="card-body">
                    <div class="d-flex justify-content-start">
                              <a href="{% url 'IpAdd' %}" class="btn btn-info"><i class="bi-node-plus"></i> Agregar nueva direccion IP</a> 
                    </div>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data">

                         {% csrf_token %}
                              
                         {{ add_device | crispy }}

                         <div class="d-flex justify-content-end">
                              <input type="reset" value="Cancelar" class="btn btn-secondary">
                              &nbsp;
                              <input type="submit" value="Guardar" class="btn btn-info">
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>

{% endblock %}

{% block js %}
     <script>
          $(function () {
               $('#dev_type').select2({
                    placeholder: 'Seleccione un tipo de dispositivo',
                    allowClean:true,

               });
               $('#service_for').select2({
                    placeholder: 'Seleccione para quien es el servicio',
                    allowClean:true,

               });
               $('#device').select2({
                    placeholder: 'Seleccione el Dispositivo',
                    allowClean:true,
               });
          });
     </script>
     <script>
          function deleteModel(id){
               Swal.fire({
                    "title": "¿estas seguro?",
                    "text": "vas a eliminar el modelo de la Base de Datos, esta acción no se puede deshacer",
                    "icon": "warning",
                    "showCancelButton": true,
                    "cancelButtonText": "No, Cancelar",
                    "cancelButtonColor": "#13a168",
                    "confirmButtonColor": "#dc3545",
                    "confirmButtonText": "Si, Eliminar", 
                    "reverseButtons":true,
               })
               .then(function(result) {
                    if(result.isConfirmed) {
                         window.location.href = "/dev_model_delete/"+id+"/"
                    }
               })
          }
     </script>
{% endblock %} 