{% extends 'appsmartip/base.html' %}

{% load static %}

{% block devmanager_active %}
active
{% endblock  %}

{% block js %}
<script>
     function deleteModel(id){
          Swal.fire({
               "title": "¿estas seguro?",
               "text": "vas a eliminar el modelo de la Base de Datos, esta acción no se puede deshacer",
               "icon": "warning",
               "iconColor": "#0dcaf0",
               "showCancelButton": true,
               "cancelButtonText": "No, Cancelar",
               "cancelButtonColor": "#0dcaf0",
               "confirmButtonColor": "#dc3545",
               "confirmButtonText": "Si, Eliminar", 
               "reverseButtons":true,
          })
          .then(function(result) {
               if(result.isConfirmed) {
                    window.location.href = "/dev_manager_delete/"+id+"/"
               }
          })
     }
</script>
{% endblock %}

{% block content %}
<div class="mx-auto">
     <div class="row text-center">
          <h2 class="text-info mx-auto">Gestion de Dispositivos</h2>
     </div>
</div>

<hr>

<div class="d-flex">
     <a href="{% url 'DevAdd' %}" class="btn btn-info btn-md ms-auto ms-3">
          Agregar dispositivo <i class="bi-plus-lg"></i>
     </a>
</div>

<div class="container col-12 col-md-6 offset-3 my-5">

     <form class="d-flex" method="get" role="search">
          <div class="input-group">
               <input class="form-control me-2" type="search" name="search" placeholder="Buscar" aria-label="Search">
               <div class="input-group-append">
                    <button class="btn text-info btn-dark" type="submit"> Buscar <i class="bi-search"></i></button>
               </div>
          </div>     
     </form>

</div>


<div class="mx-auto my-auto col-12 col-md-12 offset-6 px-1">
     <div class="card">
          <div class="card-header">
               <h4 class="text-dark text-center">
                    Resultado de la busqueda
               </h4>
          </div>
          <div class="card-body">
               <table class="table table-striped table-hover table-responsive-sm">
                    <tr>
                         <th class="text-center"><small>Dispositivo</small></th>
                         <th class="text-center"><small>Tipo</small></th>
                         <th class="text-center"><small>Marca</small></th>
                         <th class="text-center"><small>Modelo</small></th>
                         <th class="text-center"><small>Activo</small></th>
                         <th class="text-center"><small>Trabajando</small></th>
                         <th class="text-center"><small>Usuario</small></th>
                         <th class="text-center"><small>Oficina</small></th>
                         <th class="text-center"><small>Ip</small></th>
                         <th class="text-center"><small>Ùltima revision</small></th>
                         <th class="text-center"><small>Motivo</small></th>
                         <th class="text-center"><small>Acciones</small></th>
                    </tr>
               
                    {% for s in device %}
                         <tr>
                              <td class="text-center"><small>{{ s.dev_name }}</small></td>
                              <td class="text-center"><small>{{ s.dev_type }}</small></td>
                              <td class="text-center"><small>{{ s.brand | title }}</small></td>
                              <td class="text-center"><small>{{ s.model }}</small></td>
                              <td class="text-center"><small>{{ s.is_active }}</small></td>
                              <td class="text-center"><small>{{ s.is_working }}</small></td>
                              <td class="text-center"><small>{{ s.user.last_name }}</small></td>
                              <td class="text-center"><small>{{ s.office }}</small></td>
                              <td class="text-center"><small>{{ s.ip_direction }}</small></td>
                              <td class="text-center"><small>{{ s.last_revision }}</small></td>
                              <td class="text-center"><small>{{ s.cause }}</small></td>
                              <td>
                                   <a href="{% url 'DevDetails' s.id %}" class="btn btn-info btn-sm ms-auto">
                                        <i class="bi-search"></i>
                                   </a>
                                   
                                   <a href="{% url 'DevEdit' s.id %}" class="btn btn-warning btn-sm">
                                        <i class="bi-pencil-square"></i>
                                   </a>
                                   <a href="#" onclick="deleteModel('{{ s.id }}')" class="btn btn-danger btn-sm">
                                        <i class="bi-trash"></i>
                                   </a>
                              </td>
                         </tr>
                    {% endfor %}
               </table>
          </div>
     </div>     
</div>
{% endblock %}