{% extends 'appsmartip/base.html' %}

{% load static %}

{% block dbmanager_active %}
active
{% endblock %}

{% block content %}
<div class="row my-5">
    <div class="col-12 col-md-8 offset-2">
        <div class="card mx-auto">
            <div class="card-header">
                <h4 class="text-info text-center">Oficina: {{office.office_name }} / {{ office.court }}</h4>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-evenly">
                    <div>
                        <p class="card-title"><b>Localidad: </b>{{ office.location.location }}</p>
                    </div>
                    <div>
                        <p class="card-title"><b>Edificio: </b>{{ office.edifice.edifice }}</p>
                    </div>
                    <div>
                        <p class="card-title"><b>Piso: </b>{{ office.floor }}</p>
                    </div>
                </div>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <h4 class="card-title text-center text-info">Usuarios en Oficina</h4>
                            <div class="flex-row justify-content-between">
                                {% for u in device_office %}
                                <div class="card my-1 flex-row">
                                    <div class="flex-column">
                                        <div class="card-header w-50 text-center border">
                                            <h5>{{ u.user.last_name }}, {{ u.user.name }}</h5>
                                        </div>
                                        <div class="card-body justify-content-start">
                                            <h5 class="card-title">Usuario Pc: {{ u.user.username }}</h5>
                                            <p class="card-text"><b>Usuario Mensajería: </b>{{ u.user.message_acount }}</p>
                                            <p class="card-text"><b>E-m@il: </b>{{ u.user.email }}</p>
                                        </div>
                                    </div>
                                    
                                    {% if  u.dev_type.dev_type != 'IMPRESORA' and u.dev_type.dev_type != 'SCANNER'  %}
                                    <div class="card-header w-50 text-info text-center">
                                        <h6>Dispositivo</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><b>Direccion Ip: </b>{{ u.ip_direction.ipdir }}</p>
                                        <p class="card-text"><b>Acceso a Internet: </b>{{ u.ip_direction.internet_access.access_type }}</p>
                                        <p class="card-text"><b>Nombre en la Red: </b>{{ u.dev_name }}</p>
                                        <p class="card-text"><b>Tipo: </b>{{ u.dev_type.dev_type | title }}</p>
                                        <p class="card-text"><b>Marca: </b>{{ u.brand.brand | title }}</p>
                                        <p class="card-text"><b>Modelo: </b>{{ u.model.model }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <h4 class="card-title text-center text-info">Impresoras y Scanners</h4>
                            <div class="d-flex justify-content-between">
                                <div class="card w-100 m-1">
                                        {% for p in device_office %}
                                            {% if flag == True and p.dev_type.dev_type == 'IMPRESORA' or p.dev_type.dev_type == 'SCANNER' %}
                                            <div class="card-header text-center">
                                                <h6>{{p.brand.brand | title}} - {{ p.model.model }}</h6>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text"><b>Nombre en la Red: </b>{{ p.dev_name }}</p>
                                                <p class="card-text"><b>Direccion Ip: </b>{{ p.ip_direction.ipdir }}</p>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if flag == False %}
                                        <div class="card-header text-center">
                                            <h6>Lo sentimos: no hay Impresoras o Scanners registrados en esta oficina
                                        </div>
                                        {% endif %}
                                </div>
                            </div>
                </ul>
                <div class="card-body">
                    <a href="{% url 'Offices' %}" class="btn btn-info me-auto"><i class="bi-arrow-left"></i> Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}